.filter-btn{
  background: #D60B52 ;border-radius: 30px; border: none; align-items: center;
  color: white;
}
.filter-btn:hover{
  background: #f87e96;;
}
.td:hover{
color:#D60B52
}
.singup-t{
  font-size: 12px;
  display: flex;
}
