<section class="p-5" >
  <div *ngIf="loggedIn">
    <img src="{{ user.response.picture.data.url }}">
    <div>
      <h4>{{ user.name }}</h4>
      <p>{{ user.email }}</p>
    </div>
  </div>
  <app-toggle-loading/>
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
             class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3"  style="color:#D60B52; font-weight: bold; font-size: 25px">{{ "Log In" | translate}}</p>
<!--            <button type="button" class="btn filter-btn btn-floating mx-1" (click)="loginWithFB()">-->
<!--              <i class="fa fa-facebook-square"></i>-->
<!--            </button>-->

<!--            <button type="button" class="btn filter-btn btn-floating mx-1">-->
<!--              <i class="fa fa-google-plus-square"></i>-->
<!--            </button>-->

<!--            <button type="button" class="btn filter-btn ">-->
<!--              <i class="fa fa-linkedin-square"></i>-->
<!--            </button>-->
          </div>

<!--          <div class="divider d-flex align-items-center my-4">-->
<!--            <p class="text-center fw-bold mx-3 mb-0">{{'Or' | translate}}</p>-->
<!--          </div>-->

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control form-control-lg" [(ngModel)]="email" name="email"
                   placeholder="{{'Enter a valid email address' | translate}}" />
            <label class="form-label singup-t" for="form3Example3 ">{{"Email address" | translate}}</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="form3Example4" class="form-control form-control-lg"  [(ngModel)]="password" name="password"
                   placeholder="{{ 'Enter password' | translate}}" />
            <label class="form-label singup-t" for="form3Example4">{{"Password" | translate}}</label>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->

            <a href="#!" class="td">{{'Forgot password?' | translate}}</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" class="btn  filter-btn btn-lg" (click)="login()"
                    style="padding-left: 2.5rem; margin-bottom: 50px; padding-right: 2.5rem;">{{"Login"  |translate}}</button>


            <p style="margin-top: 20px" class="small fw-bold mt-2 pt-1 mb-0 td">{{"Don't have an account?" | translate}} <a href="#!"
                                                                              class="link-danger">   <button class="filter-btn" style="border: none  " (click)="register()">{{'Register' | translate}} </button></a></p>

          </div>

        </form>
      </div>
    </div>
  </div>

</section>
<!--<section class="h-100 gradient-form" style="         background: #ffd780;-->

<!--    /* Chrome 10-25, Safari 5.1-6 */-->
<!--    background: -webkit-linear-gradient(to left, rgba(255,215,128,0.55), rgba(240,10,10,0.55));-->

<!--    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */-->
<!--    background: linear-gradient(to left, rgba(255,215,128,0.55), rgba(240,10,10,0.55))">-->
<!--  <div class="container py-5 h-100">-->
<!--    <div class="row d-flex justify-content-center align-items-center h-100">-->
<!--      <div class="col-xl-10">-->
<!--        <div class="card rounded-3 text-black">-->
<!--          <div class="row g-0">-->
<!--            <div class="col-lg-6">-->
<!--              <div class="card-body p-md-5 mx-md-4">-->

<!--                <div class="text-center">-->
<!--                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"-->
<!--                       style="width: 185px;" alt="logo">-->
<!--                  <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>-->
<!--                </div>-->

<!--                <form>-->
<!--                  <p>Please login to your account</p>-->

<!--                  <div class="form-outline mb-4">-->
<!--                    <input type="email" id="form2Example11" class="form-control"-->
<!--                           placeholder="Phone number or email address" />-->
<!--                    <label class="form-label" for="form2Example11">Username</label>-->
<!--                  </div>-->

<!--                  <div class="form-outline mb-4">-->
<!--                    <input type="password" id="form2Example22" class="form-control" />-->
<!--                    <label class="form-label" for="form2Example22">Password</label>-->
<!--                  </div>-->

<!--                  <div class="text-center pt-1 mb-5 pb-1">-->
<!--                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Log-->
<!--                      in</button>-->
<!--                    <a class="text-muted" href="#!">Forgot password?</a>-->
<!--                  </div>-->

<!--                  <div class="d-flex align-items-center justify-content-center pb-4">-->
<!--                    <p class="mb-0 me-2">Don't have an account?</p>-->
<!--                    <button type="button" class="btn btn-outline-danger">Create new</button>-->
<!--                  </div>-->

<!--                </form>-->

<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">-->
<!--              <div class="text-white px-3 py-4 p-md-5 mx-md-4">-->
<!--                <h4 class="mb-4">We are more than just a company</h4>-->
<!--                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
<!--                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
