.filter-btn{
  background: #D60B52 ;border-radius: 30px; border: none; align-items: center;
  color: white;
}
.filter-btn:hover{
  background: #f87e96;;
}
.td:hover{
color:#D60B52
}
.form-control{
  border-radius: 30px;
}
.singup-t{
  font-size: 12px;
  display: flex;
}
//[dir="ltr"] .title{
//  justify-content: start;
//}
//[dir="rtl"] .title{
//  justify-content: end;
//}
//mobile
@media (max-width: 767px) {
  .h-custom {
    margin-top: 120px;
  }
  .img-fluid{
    margin-bottom: 50px;
  }
}
