<div class="container my-5">
  <!--when the cart is empty-->
  <div class="text-center my-5" *ngIf="cartData.length===0" style="display: flex; flex-direction: column; align-items: center">
    <h4> {{ "Your Wish Cart is Empty"| translate}} </h4>
    <button class="btn btn-lg mt-3 add_wish_list" style="width: 25%;" routerLink="/"> <i class="fa fa-shopping-cart"></i> {{ "Go To Shop"| translate}}</button>
  </div>


  <ng-container *ngIf="cartData.length!==0">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead class="table-dark">
          <tr class="text-center">
            <th>{{ "Image"| translate}}</th>
            <th>{{ "Title"| translate}}</th>
            <th>{{ "Price"| translate}}</th>

          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let c of cartData; let i = index">
            <td class="d-flex align-items-center justify-content-around">
              <img style="border-radius: 30px" [src]="c.image" alt="{{c.name}}" height="60" class="order-1"/>
              <span class="text-danger"> <i class="fa fa-trash p-4" style="cursor: pointer" (click)="deleteFromWishList(i)"></i></span>
            </td>
            <td >
              <p style="display: flex; justify-content: center; width: 100%;">
                {{c.name}}
              </p>
            </td>

            <td style="display: flex; justify-content: center; width: 100%;">
              <p style="font-family: cursive"> {{c.price | currency:'USD'}}</p>
            </td>


          </tr>

          <tr class="border-0">
            <td style="border: none"></td>
            <td></td>          <td></td>

          </tr>


          </tbody>
        </table>
      </div>
      <div class="col-md-12 d-flex mb-5">
        <div class="d-flex justify-content-between flex-sm-column flex-md-row w-100">
          <a routerLink="/checkout" class="btn btn-danger btn-sm order-1">{{ "Checkout"| translate}}</a>
          <a routerLink="/" class="btn btn-success btn-sm order-0">{{ "Continue Shopping"| translate}}</a>
        </div>
      </div>
    </div>
  </ng-container>
  <!--  when the cart has items-->
</div>
