.form-site-input {
  height: 3rem;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  border-radius: 1.5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 3rem;
  color: inherit;
  padding: 0 20px;
  margin: 0;
  box-shadow: none;
  transition: all .3s ease 0s;
  background: whitesmoke;
}
.pic_container{
  margin-bottom:25px;
  gap: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.details_pic{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.detail{
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-block-end:35px
}

.h_details{
  display: flex;
  justify-content: center;
  width: 100%;
}
.account{
  padding-top: 20px;
  flex-wrap:wrap;
  gap: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 110%;
}
.history__orders{
  flex-wrap:wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.orders_table{
  padding: 30px ;
}
.row{
padding-left: 120px;
 padding-top: 20px;
  padding-right: 120px;
}
.h_title{
  justify-content: center;
  display: flex;
  width: 100%;
}
.details{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
  max-height: 250px;
  justify-content: space-between;
}

.account_d{
  display: flex;
  gap: 20px;
  flex-direction: column;
justify-content: center}

.account_details{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 130px;
  width: 100%;

}

.profile__photo{
  justify-content: end;
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff url("https://dev-order.atmos.co.il/profile.e34d0a10a154260a.svg") no-repeat center;
  background-size: contain;
  box-shadow: 0 12px 20px #ababab40;
  position: relative;
}
