<div class="container" [dir]="dir">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron text-center">
        <h1 class="display-3" style="color:#D60B52;">{{"Thank You!" |translate }}</h1>

        <br>
        <hr>
      </div>

      <table class="table table-striped" *ngIf="products.length>0">
        <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of products">
          <td>
            <img [src]="p.image" alt="{{p.name}}" class="img-thumbnail" width="100px">
          </td>

          <td>{{p.name}}</td>
          <td style="font-family: cursive">{{p.price | currency:'USD'}}</td>
          <td>{{p.quantityOrdered}}</td>
        </tr>

        <tr class="border-0">
          <td style="border: none;"></td>
          <td></td>
          <td style="color: #D10024; font-weight: bold; font-size: 16px">TOTAL</td>
          <td  style="font-family: cursive;color: #D10024; font-weight: bold;" >{{cartTotal | currency:'USD'}}</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

