<ngx-spinner
  bdColor= "#FFFAF0"
  size="large"
  color="orange"
  [type]="spinnerType"

>
  <p style="font-size: 20px; color: black;">Booking Order...</p>
</ngx-spinner>
<div class="dialog fade-in-out" [dir]="dir"  >
  <button  mat-icon-button style="float: right; margin:5px" [mat-dialog-close]="closePopup===true">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
  </button>

  <mat-dialog-content>
    <div >
    <div style="display:flex; justify-content: center;">
      <div >
        <h3 >{{'Payment Step' | translate}}</h3>
      </div>
    </div> <!-- End -->
    <div >
      <div >
        <div class="card ">
          <div class="card-header">
            <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
              <!-- Credit card form tabs -->
              <ul role="tablist" class="nav nav-pills rounded nav-fill mb-3">
                <li class="nav-item"> <a data-toggle="pill" href="#credit-card" class="nav-link active "> <i class="fa fa-credit-card mr-2"></i> {{'Credit Card' | translate}} </a> </li>
<!--                <li class="nav-item"> <a data-toggle="pill" href="#paypal" class="nav-link "> <i class="fab fa-paypal mr-2"></i> Paypal </a> </li>-->
<!--                <li class="nav-item"> <a data-toggle="pill" href="#net-banking" class="nav-link "> <i class="fas fa-mobile-alt mr-2"></i> Net Banking </a> </li>-->
              </ul>
            </div> <!-- End -->
            <!-- Credit card form content -->
            <div class="tab-content">
              <!-- credit card info-->
              <div id="credit-card" class="tab-pane fade show active pt-3">
                <form role="form" onsubmit="event.preventDefault()">
                  <div class="form-group"> <label for="username" style="display:flex;;">
                    <h6 style="display:flex; justify-content: start">{{'Card Owner' | translate}}</h6>
                  </label> <input type="text" name="username" placeholder="{{'Card Owner' | translate}}" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"  required class="form-control "> </div>
                  <div class="form-group"> <label for="cardNumber" style="display:flex;;">
                    <h6 style="display:flex; justify-content: start" >{{"Card number" | translate}}</h6>
                  </label>
                    <div class="input-group"> <input type="text" name="cardNumber" placeholder="{{'Valid card number' | translate}}" [(ngModel)]="cardNumber" [ngModelOptions]="{standalone: true}" class="form-control " required>
                      <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fa fa-cc-visa mx-1"></i> <i class="fa fa-cc-mastercard mx-1"></i> <i class="fa fa-cc-amex mx-1"></i> </span> </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8">
                      <div class="form-group"> <label style="display:flex;;"><span class="hidden-xs">
                                                    <h6>{{'Expiration Date' | translate}}</h6>
                                                </span></label>
                        <div class="input-group"> <input type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="month" maxLength="2" placeholder="{{'Month' | translate}}" name="" class="form-control" required> <input type="text" maxLength="4" placeholder="{{'Year' | translate}}" name=""  [(ngModel)]="year" [ngModelOptions]="{standalone: true}" class="form-control" required> </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group mb-4"> <label style="display:flex;;" data-toggle="tooltip" title="{{'Three digit CV code on the back of your card' | translate}}">
                        <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                      </label> <input type="text" placeholder="CVV" maxlength="3" required class="form-control" [(ngModel)]="cvv" [ngModelOptions]="{standalone: true}"> </div>
                    </div>
                  </div>
                  <div class="card-footer" style="padding-right: 300px; padding-left: 300px"> <button type="button" (click)="makePayment()" class="btn btn-outline-danger btn-sm my-2 order-submit" style="width: 100%; border-radius: 25px" > {{'Confirm Payment' | translate}} </button>


                  </div>
                </form>
              </div> <!-- End -->
              <!-- Paypal info -->
              <div id="paypal" class="tab-pane fade pt-3">
                <h6 class="pb-2">Select your paypal account type</h6>
                <div class="form-group "> <label class="radio-inline"> <input type="radio" name="optradio" checked> Domestic </label> <label class="radio-inline"> <input type="radio" name="optradio" class="ml-5">International </label></div>
                <p> <button type="button" class="btn btn-primary "><i class="fab fa-paypal mr-2"></i> Log into my Paypal</button> </p>
                <p class="text-muted"> Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
              </div> <!-- End -->
              <!-- bank transfer info -->
              <div id="net-banking" class="tab-pane fade pt-3">
                <div class="form-group "> <label for="Select Your Bank">
                  <h6>Select your Bank</h6>
                </label> <select class="form-control" id="ccmonth">
                  <option value="" selected disabled>--Please select your Bank--</option>
                  <option>Bank 1</option>
                  <option>Bank 2</option>
                  <option>Bank 3</option>
                  <option>Bank 4</option>
                  <option>Bank 5</option>
                  <option>Bank 6</option>
                  <option>Bank 7</option>
                  <option>Bank 8</option>
                  <option>Bank 9</option>
                  <option>Bank 10</option>
                </select> </div>
                <div class="form-group">
                  <p> <button type="button" class="btn btn-primary "><i class="fas fa-mobile-alt mr-2"></i> Proceed Payment</button> </p>
                </div>
                <p class="text-muted">Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
              </div> <!-- End -->
              <!-- End -->
            </div>
          </div>
        </div>
      </div>



    </div>

    </div>
  </mat-dialog-content>

</div>
